@model SomerenApp.Models.AccompanimentCreateDeleteViewModel
@{
	ViewData["Title"] = "Create Accompaniment";
	string? errorMessage = (string)ViewData["ErrorMessage"];
}
<h4>@errorMessage</h4>
<h1>Add accompaniment</h1>
<form action="/Lecturers/Create" method="post">
	<input hidden type="number" name="ActivityNumber" value="@Model?.Activity.ActivityNumber" />
	<input hidden type="number" name="LecturerNumber" value="@Model?.Lecturer.LecturerNumber" />
	<div class="form-group py-2">
		<label for="Lecturer">Lecturer:</label>
		<input type="text" id="Lecturer" name="Lecturer" class="form-control" readonly value="@Model?.Lecturer.LastName, @Model?.Lecturer.FirstName" />
	</div>
	<div class="form-group py-2">
		<label for="Activity">Activity:</label>
		<input type="text" id="Activity" name="Activity" class="form-control" readonly value="@Model?.Activity.ActivityType on @Model?.Activity.ActivityDate" />
	</div>
	<button type="submit" class="btn btn-primary">Add Accompaniment</button>
</form>
<a href="/Activities/Index">Back to List</a>
